* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container h1 {
	font: 30px Roboto, Tahoma;
	text-align: center;
	font-weight: bold;
	color: #848688;
}
header {
	width: 100%;
	padding: 10px 0px 10px 0px;
	background: #303152;	
	box-shadow: 1px 1px 5px #CCC;
	float: left;
	position: fixed;
	z-index: 1000;
}
#logo {
	float: left;
	font: 20px Roboto, Tahoma;
	color: #FFF;
	text-decoration: none;
	margin: 15px;
}
#logo:hover {
	color: #848688;
}
nav {
	float: right;
	margin: 10px;
}
nav ul li {
	display: inline;
	list-style: none;
}
nav ul li a {
	margin: 5px;
	padding: 10px;
	color: #FFF;
	font: 20px Roboto, Tahoma;
	text-decoration: none;
	transition: all 0.5s;
}
nav ul li a:hover {
	/*background: #FFF;*/
	color: #848688;
}
#btnmenu {
	float: right;
	margin: 10px;
	display: none;
}
#banner {
	width: 100%;
	float: left;
	margin-top: 75px;
}
#banner img {
	width: 100%;
}
.box {
	width: 100%;
	float: left;
	padding: 90px 0px 50px 0px;
	min-height: 550px;
}
.row {
	width: 960px;
	margin: auto;
}
.box p {
	font: 14px "Open Sans", Verdana;
	text-align: justify;
	text-indent: 2em;
	line-height: 200%;
	color: #606062;
}
footer{
	background: #303152;
	float: left;
	padding: 10px 0px;
	text-align: center;
	color: #FFF;
	width: 100%;
}
footer p {
	font: 14px "Open Sans", Verdana;
	text-align: center;
	text-indent: 2em;
	line-height: 200%;
}
footer a {
	font: 14px "Open Sans", Verdana;
	text-align: center;
	text-indent: 2em;
	line-height: 200%;
	text-decoration: none;
	color: #606062;
}
.profile {
	width: 30%;
	float: left;
	margin-top: 20px;	 
}
.aboutme {
	width: 70%;
	float: left;
	margin-top: 20px;	 
}
#portifolio img {
	width: 100%;
	height: 100%;
	float: left;
}
.redondo{
	border-radius: 300px;	 
}
q {
background: #f5f5f5; 
border-left: 0.8em solid #ccc; 
border-right: 0.8em solid #ccc; 
font: italic 100% "Open Sans", Verdana; 
padding: 0.75em; 
}